@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
@*     <h1>@_localizer["About"]</h1>
    <h3>@_localizer["The tools and sources that i already use for this project:"]</h3> *@
    <br />
    <a href="https://codewithmukesh.com/blog/user-management-in-aspnet-core-mvc/">https://codewithmukesh.com/blog/user-management-in-aspnet-core-mvc/</a>
    <br />
    <a href="https://github.com/JohnnyZhang0628/AspNetCore.Identity.Localization.Core/blob/main/AspNetCore.Identity.Localization.Core/Resources/SharedResource.en-US.resx">https://github.com/JohnnyZhang0628/AspNetCore.Identity.Localization.Core/blob/main/AspNetCore.Identity.Localization.Core/Resources/SharedResource.en-US.resx</a>
    <br />
    <a href="https: //github.com/WaldoHeudens/GroupSpace23">https://github.com/WaldoHeudens/GroupSpace23</a>
    <br />
    <a href=" https: //chat.openai.com/share/ad58b162-55ae-4da6-83e1-635211f6bf93">Chat gpt van .net advanced en framework</a>
</div>